.container {
  min-width: 50px;
  max-width: 400px;
  min-height: 30px;
  max-height: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: hidden;
  z-index: 100;
  color: white;
  width: 260px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container div {
  width: 100%;
}

.selectedOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedText {
  padding-left: 5px;
}

.optionContainer {
  max-height: 160px;
  background-color: #473876;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #696969;
  padding:5px 0px;
}

.icon {
  margin-right: 5px;
}

.icon:hover {
  cursor: pointer;
}

.option {
  padding-left: 5px;
  word-wrap: break-word;
}

.option:hover {
  background-color: rgb(231, 231, 248);
  color: black;
  cursor: pointer;
}
