.input {
  width: 80%;
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 10px;
  padding-left: 40px;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.button {
  background: #00a1e0;
  color: #fff;
  max-width: 100px;
  padding: 8px 10px;
  box-shadow: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1.5s;
}

.button:hover {
  background: linear-gradient(
    115deg,
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.25)
  );
  color: #fff;
  transition: 0.5s;
}
