.section {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #473876, #473876, #a02e8f);
  animation: gradient 10s ease infinite;
}

.box {
  position: relative;
}

.container {
  position: relative;
  padding: 50px;
  min-width: 260px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}
