/*third page table style start*/

.container1 {
  display: grid;
  grid-template-columns: repeat(9, auto);
  border-top: 1px solid transparent;
  margin-bottom: 30px;
  overflow-x: auto;
}

.container1 > span {
  padding: 5px 4px;
  border-bottom: 1px solid #473876;
}

span:nth-child(n + 10) {
  background-color: white;
}

.header {
  background-color: #ececec;
}

.title {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  color: white;
  font-size: 18px;
}

.minusIcon,
.plusIcon {
  margin-left: 5px;
  font-size: 20px;
}

.minusIcon:hover,
.plusIcon:hover {
  cursor: pointer;
}

.minusIcon {
  color: rgb(243, 0, 0);
}

.plusIcon {
  color: rgb(24, 209, 24);
}
/*third page table style end*/
